$purple:  #140d3d;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');
@charset "utf-8";
@import "~bulma/bulma";

body {
  display: block;
  margin: 0;
  padding: 0;
  background: $purple;
  font-family: 'Noto Sans', sans-serif;
}


section {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}
.box {
  display: flex;
  justify-content: center;
}
#spinner {
  @media (max-width: 768px) {
    width: 100% !important;
    height: 100% !important;
  }

}


#test{
  position: relative;
  canvas{
    top: 0;
  }
}

#spin {
  text-decoration: none;
  letter-spacing: 5px;
  cursor: pointer;
}



#spin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  color: white;
  font-family: 'Noto Sans';
  font-size: 2rem;
  text-decoration: none;
}

footer{
  height: 10em;
}